{% extends "base.html" %}

{% block title %}商品追加{% endblock %}

{% block content %}
  <h1>商品を追加する</h1>
  <form method="POST">
    <label>商品名:</label>
    <input type="text" name="name" required><br>

    <label>数量:</label>
    <input type="number" name="quantity" required><br>

    <label>単位:</label>
    <input type="text" name="unit" placeholder="枚 / 個 / 箱"><br>

    <label>仕入れ先:</label>
    <input type="text" name="supplier" placeholder="例: ABC商店"><br>

    <label>最低在庫数:</label>
    <input type="number" name="min_quantity"><br>


    <button type="submit">登録</button>    
  </form>

  <p><a href="/">← 在庫一覧に戻る</a></p>
{% endblock %}
