{% extends "base.html" %}

{% block title %}仕入れ登録{% endblock %}

{% block content %}
  <h1>仕入れを登録する</h1>
  <form method="POST">
      <p>商品:
          <select name="item_id" required>
              {% for item in items %}
              <option value="{{ item.id }}">{{ item.name }}</option>
              {% endfor %}
          </select>
      </p>
      <p>日付: <input type="date" name="date"></p>
      <p>数量: <input type="number" name="quantity" required></p>
      <p>仕入れ価格: <input type="number" name="price"></p>
      <p><button type="submit">登録</button></p>
  </form>

  <p><a href="/">← 在庫一覧に戻る</a></p>
{% endblock %}
